@use "../../base/variables" as *;
@use "../../base/mixins" as *;
.ls-why-choose-us {
  background-color: rgba(#556700, 0.02);
  padding: clamp(1.875rem, 1rem + 4.375vw, 6.25rem) 0;

  .ls-why-choose-us-content {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    label {
      color: #826543;
      font-weight: 600;
      font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
      width: 100%;
    }
    ul.ls-bullets {
      li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        i {
          font-size: 1.2rem;
          color: #96b700 !important;
        }
      }
    }
  }
  .ls-feature-card {
    background-color: rgba(#3e4422, 0.1);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(140, 160, 90, 0.06);
    transition:
      transform 0.3s cubic-bezier(0.4, 2, 0.6, 1),
      box-shadow 0.3s cubic-bezier(0.4, 2, 0.6, 1);
    cursor: pointer;
    &:hover {
      transform: translateY(-8px) scale(1.03);
      box-shadow: 0 8px 24px rgba(140, 160, 90, 0.15);
    }
    .ls-feature-icon {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#3e4422, 0.1);
      border-radius: 5px;
      i {
        color: #3e4422;
      }
    }
    .ls-feature-title {
      font-size: 20px;
      font-weight: 600;
      color: #222;
    }
    .ls-feature-desc {
      font-size: 0.98rem;
      color: #666;
    }
  }
  @media (max-width: 991.98px) {
    .row.g-3 > [class^="col-"] {
      margin-bottom: 1rem;
    }
  }
}
